__probejson/ProbeJson.csproj
__probejson/Program.cs
__probejson/bin/Debug/net10.0/ProbeJson.deps.json
__probejson/bin/Debug/net10.0/ProbeJson.dll
__probejson/bin/Debug/net10.0/ProbeJson.exe
__probejson/bin/Debug/net10.0/ProbeJson.pdb
__probejson/bin/Debug/net10.0/ProbeJson.runtimeconfig.json
__probejson/obj/ProbeJson.csproj.nuget.dgspec.json
__probejson/obj/ProbeJson.csproj.nuget.g.props
__probejson/obj/ProbeJson.csproj.nuget.g.targets
__probejson/obj/project.assets.json
__probejson/obj/project.nuget.cache
__probejson/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
__probejson/obj/Debug/net10.0/apphost.exe
__probejson/obj/Debug/net10.0/ProbeJson.AssemblyInfo.cs
__probejson/obj/Debug/net10.0/ProbeJson.AssemblyInfoInputs.cache
__probejson/obj/Debug/net10.0/ProbeJson.assets.cache
__probejson/obj/Debug/net10.0/ProbeJson.csproj.CoreCompileInputs.cache
__probejson/obj/Debug/net10.0/ProbeJson.csproj.FileListAbsolute.txt
__probejson/obj/Debug/net10.0/ProbeJson.dll
__probejson/obj/Debug/net10.0/ProbeJson.GeneratedMSBuildEditorConfig.editorconfig
__probejson/obj/Debug/net10.0/ProbeJson.genruntimeconfig.cache
__probejson/obj/Debug/net10.0/ProbeJson.GlobalUsings.g.cs
__probejson/obj/Debug/net10.0/ProbeJson.pdb
__probejson/obj/Debug/net10.0/ref/ProbeJson.dll
__probejson/obj/Debug/net10.0/refint/ProbeJson.dll
__probelfs/ProbeLfs.csproj
__probelfs/Program.cs
__probelfs/bin/Debug/net10.0/ProbeLfs.deps.json
__probelfs/bin/Debug/net10.0/ProbeLfs.dll
__probelfs/bin/Debug/net10.0/ProbeLfs.exe
__probelfs/bin/Debug/net10.0/ProbeLfs.pdb
__probelfs/bin/Debug/net10.0/ProbeLfs.runtimeconfig.json
__probelfs/obj/ProbeLfs.csproj.nuget.dgspec.json
__probelfs/obj/ProbeLfs.csproj.nuget.g.props
__probelfs/obj/ProbeLfs.csproj.nuget.g.targets
__probelfs/obj/project.assets.json
__probelfs/obj/project.nuget.cache
__probelfs/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
__probelfs/obj/Debug/net10.0/apphost.exe
__probelfs/obj/Debug/net10.0/ProbeLfs.AssemblyInfo.cs
__probelfs/obj/Debug/net10.0/ProbeLfs.AssemblyInfoInputs.cache
__probelfs/obj/Debug/net10.0/ProbeLfs.assets.cache
__probelfs/obj/Debug/net10.0/ProbeLfs.csproj.CoreCompileInputs.cache
__probelfs/obj/Debug/net10.0/ProbeLfs.csproj.FileListAbsolute.txt
__probelfs/obj/Debug/net10.0/ProbeLfs.dll
__probelfs/obj/Debug/net10.0/ProbeLfs.GeneratedMSBuildEditorConfig.editorconfig
__probelfs/obj/Debug/net10.0/ProbeLfs.genruntimeconfig.cache
__probelfs/obj/Debug/net10.0/ProbeLfs.GlobalUsings.g.cs
__probelfs/obj/Debug/net10.0/ProbeLfs.pdb
__probelfs/obj/Debug/net10.0/ref/ProbeLfs.dll
__probelfs/obj/Debug/net10.0/refint/ProbeLfs.dll
.dotnet/.dotnet/.workloadAdvertisingManifestSentinel10.0.100-preview.4
.dotnet/.dotnet/10.0.100-preview.4.25258.110_IsDockerContainer.dotnetUserLevelCache
.dotnet/.dotnet/10.0.100-preview.4.25258.110_MachineId.dotnetUserLevelCache
.dotnet/.dotnet/10.0.100-preview.4.25258.110.aspNetCertificateSentinel
.dotnet/.dotnet/10.0.100-preview.4.25258.110.dotnetFirstUseSentinel
.dotnet/.dotnet/10.0.100-preview.4.25258.110.toolpath.sentinel
.dotnet/.dotnet/MachineId.v1.dotnetUserLevelCache
.dotnet/.dotnet/TelemetryStorageService/00e14aebff2840b0b3cb4fd1b9663a6a
.dotnet/.dotnet/TelemetryStorageService/02bb69d31deb4b80a2512e4097879f72
.dotnet/.dotnet/TelemetryStorageService/3b6f2638cab44676a5a4855455a708f3
.dotnet/.dotnet/TelemetryStorageService/48a6a3a93646408cac6437bff04e9b4d
.dotnet/.dotnet/TelemetryStorageService/48b17465f8ee4fc0b024edbd66d4acca
.dotnet/.dotnet/TelemetryStorageService/65aeee5190384418928526b20c073613
.dotnet/.dotnet/TelemetryStorageService/76d8ace8701b4fa6b28be24ac99fbd82
.dotnet/.dotnet/TelemetryStorageService/085eb0ec53964aa781fcb368800b91f7
.dotnet/.dotnet/TelemetryStorageService/852f0050c0d247d5ab146656aa77184d
.dotnet/.dotnet/TelemetryStorageService/787266864c774601ac9fd3af2daec840
.dotnet/.dotnet/TelemetryStorageService/20260321075440_8c6f3fd363304965afc1a3b099961231.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075440_f8afa016151b495a8e563685f5f6a6cf.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075441_0ed3c9271c414de990507ebb10e661b0.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075441_6a957ab72d85493987e921cc2150ab3c.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075441_b9bd2e68e0ec40f98d34127ade2e1a13.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075515_1760b0e176df4e27a2dc9fcca588d7ff.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075515_a23ca939c2bd43ee945f8a49e0c1e8de.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075516_e762ab7c196741b1928b62b1cc425b86.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075523_6c6ac9c044bd4450823070605e36c839.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075523_07d4f38f3e9a4287b3115ba2da7d8114.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075524_267e19ca46294f2da7ae5acc72d922d5.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075524_439e99c24cf2402f8aba6e590cf745cd.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075525_99cd5f25ae8947d081eed30ecc526cb3.trn
.dotnet/.dotnet/TelemetryStorageService/20260321075525_808b56c65b0c41a7a5bee37d32175842.trn
.dotnet/.dotnet/TelemetryStorageService/c5cf1b986c394199a771cc098b9e0eaa
.dotnet/.dotnet/TelemetryStorageService/d90a1d29320847e4a52153948358e9a1
.dotnet/.dotnet/TelemetryStorageService/f9fef9f0ea724ed7acfa252208e04f25
.dotnet/.nuget/packages/qrcoder/1.6.0/.nupkg.metadata
.dotnet/.nuget/packages/qrcoder/1.6.0/.signature.p7s
.dotnet/.nuget/packages/qrcoder/1.6.0/nuget-icon.png
.dotnet/.nuget/packages/qrcoder/1.6.0/nuget-readme.md
.dotnet/.nuget/packages/qrcoder/1.6.0/qrcoder.1.6.0.nupkg
.dotnet/.nuget/packages/qrcoder/1.6.0/qrcoder.1.6.0.nupkg.sha512
.dotnet/.nuget/packages/qrcoder/1.6.0/qrcoder.nuspec
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/net35/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/net40/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/net5.0/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/net5.0-windows7.0/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/net6.0/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/net6.0-windows7.0/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/netstandard1.3/QRCoder.dll
.dotnet/.nuget/packages/qrcoder/1.6.0/lib/netstandard2.0/QRCoder.dll
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/.nupkg.metadata
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/.signature.p7s
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/LICENSE
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/sixlabors.fonts.2.0.1.nupkg
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/sixlabors.fonts.2.0.1.nupkg.sha512
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/sixlabors.fonts.128.png
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/sixlabors.fonts.nuspec
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/lib/net6.0/SixLabors.Fonts.dll
.dotnet/.nuget/packages/sixlabors.fonts/2.0.1/lib/net6.0/SixLabors.Fonts.xml
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/.nupkg.metadata
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/.signature.p7s
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/LICENSE
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/sixlabors.fonts.2.1.3.nupkg
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/sixlabors.fonts.2.1.3.nupkg.sha512
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/sixlabors.fonts.128.png
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/sixlabors.fonts.nuspec
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/lib/net6.0/SixLabors.Fonts.dll
.dotnet/.nuget/packages/sixlabors.fonts/2.1.3/lib/net6.0/SixLabors.Fonts.xml
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/.nupkg.metadata
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/.signature.p7s
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/LICENSE
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/sixlabors.imagesharp.3.1.11.nupkg
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/sixlabors.imagesharp.3.1.11.nupkg.sha512
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/sixlabors.imagesharp.128.png
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/sixlabors.imagesharp.nuspec
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/build/SixLabors.ImageSharp.props
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/lib/net6.0/SixLabors.ImageSharp.dll
.dotnet/.nuget/packages/sixlabors.imagesharp/3.1.11/lib/net6.0/SixLabors.ImageSharp.xml
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/.nupkg.metadata
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/.signature.p7s
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/LICENSE
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/sixlabors.imagesharp.drawing.2.1.7.nupkg
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/sixlabors.imagesharp.drawing.2.1.7.nupkg.sha512
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/sixlabors.imagesharp.drawing.128.png
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/sixlabors.imagesharp.drawing.nuspec
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/lib/net6.0/SixLabors.ImageSharp.Drawing.dll
.dotnet/.nuget/packages/sixlabors.imagesharp.drawing/2.1.7/lib/net6.0/SixLabors.ImageSharp.Drawing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/.nupkg.metadata
.dotnet/.nuget/packages/zxing.net/0.16.10/.signature.p7s
.dotnet/.nuget/packages/zxing.net/0.16.10/logo.jpg
.dotnet/.nuget/packages/zxing.net/0.16.10/zxing.net.0.16.10.nupkg
.dotnet/.nuget/packages/zxing.net/0.16.10/zxing.net.0.16.10.nupkg.sha512
.dotnet/.nuget/packages/zxing.net/0.16.10/zxing.net.nuspec
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/native/zxing.pri
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/native/zxing.winmd
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/native/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net20/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net20/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net20-cf/zxing.ce2.0.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net20-cf/zxing.ce2.0.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net35/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net35/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net35-cf/zxing.ce3.5.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net35-cf/zxing.ce3.5.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net40/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net40/zxing.presentation.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net40/zxing.presentation.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net40/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net45/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net45/zxing.presentation.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net45/zxing.presentation.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net45/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net461/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net461/zxing.presentation.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net461/zxing.presentation.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net461/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net47/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net47/zxing.presentation.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net47/zxing.presentation.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net47/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net48/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net48/zxing.presentation.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net48/zxing.presentation.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net48/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net5.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net5.0/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net6.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net6.0/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net7.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net7.0/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net8.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net8.0/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net9.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/net9.0/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netcoreapp3.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netcoreapp3.0/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netcoreapp3.1/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netcoreapp3.1/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard1.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard1.0/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard1.1/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard1.1/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard1.3/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard1.3/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard2.0/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard2.0/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard2.1/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/netstandard2.1/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/portable-win+net40+sl4+sl5+wp7+wp71+wp8/zxing.portable.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/portable-win+net40+sl4+sl5+wp7+wp71+wp8/zxing.portable.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl3-wp/zxing.wp7.0.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl3-wp/zxing.wp7.0.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl4/zxing.sl4.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl4/zxing.sl4.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl4-wp71/zxing.wp7.1.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl4-wp71/zxing.wp7.1.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl5/zxing.sl5.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/sl5/zxing.sl5.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/uap10/zxing.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/uap10/zxing.pri
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/uap10/zxing.xml
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/windows8/zxing.pri
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/windows8/zxing.winmd
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/windows8/zxing.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/windows8-managed/zxing.winrt.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/windows8-managed/zxing.winrt.XML
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/wp8/zxing.wp8.0.dll
.dotnet/.nuget/packages/zxing.net/0.16.10/lib/wp8/zxing.wp8.0.XML
.dotnet/.templateengine/dotnetcli/10.0.100-preview.4.25258.110/templatecache.json
OEPLLib/bin/Debug/net10.0/OEPLLib.deps.json
OEPLLib/bin/Debug/net10.0/OEPLLib.dll
OEPLLib/bin/Debug/net10.0/OEPLLib.pdb
OEPLLib/obj/OEPLLib.csproj.nuget.dgspec.json
OEPLLib/obj/OEPLLib.csproj.nuget.g.props
OEPLLib/obj/OEPLLib.csproj.nuget.g.targets
OEPLLib/obj/project.assets.json
OEPLLib/obj/project.nuget.cache
OEPLLib/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
OEPLLib/obj/Debug/net10.0/apphost.exe
OEPLLib/obj/Debug/net10.0/OEPLLib.AssemblyInfo.cs
OEPLLib/obj/Debug/net10.0/OEPLLib.AssemblyInfoInputs.cache
OEPLLib/obj/Debug/net10.0/OEPLLib.assets.cache
OEPLLib/obj/Debug/net10.0/OEPLLib.csproj.AssemblyReference.cache
OEPLLib/obj/Debug/net10.0/OEPLLib.csproj.CoreCompileInputs.cache
OEPLLib/obj/Debug/net10.0/OEPLLib.csproj.FileListAbsolute.txt
OEPLLib/obj/Debug/net10.0/OEPLLib.dll
OEPLLib/obj/Debug/net10.0/OEPLLib.GeneratedMSBuildEditorConfig.editorconfig
OEPLLib/obj/Debug/net10.0/OEPLLib.GlobalUsings.g.cs
OEPLLib/obj/Debug/net10.0/OEPLLib.pdb
OEPLLib/obj/Debug/net10.0/ref/OEPLLib.dll
OEPLLib/obj/Debug/net10.0/refint/OEPLLib.dll
OEPLSample/bin/Debug/net10.0/OEPLLib.dll
OEPLSample/bin/Debug/net10.0/OEPLLib.pdb
OEPLSample/bin/Debug/net10.0/OEPLSample.deps.json
OEPLSample/bin/Debug/net10.0/OEPLSample.dll
OEPLSample/bin/Debug/net10.0/OEPLSample.exe
OEPLSample/bin/Debug/net10.0/OEPLSample.pdb
OEPLSample/bin/Debug/net10.0/OEPLSample.runtimeconfig.json
OEPLSample/bin/Debug/net10.0/QRCoder.dll
OEPLSample/bin/Debug/net10.0/SixLabors.Fonts.dll
OEPLSample/bin/Debug/net10.0/SixLabors.ImageSharp.dll
OEPLSample/bin/Debug/net10.0/SixLabors.ImageSharp.Drawing.dll
OEPLSample/bin/Debug/net10.0/zxing.dll
OEPLSample/bin/Debug/net10.0/output/schwarz1-preview.png
OEPLSample/bin/Debug/net10.0/output/schwarz1-upload.jpg
OEPLSample/obj/OEPLSample.csproj.nuget.dgspec.json
OEPLSample/obj/OEPLSample.csproj.nuget.g.props
OEPLSample/obj/OEPLSample.csproj.nuget.g.targets
OEPLSample/obj/project.assets.json
OEPLSample/obj/project.nuget.cache
OEPLSample/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
OEPLSample/obj/Debug/net10.0/apphost.exe
OEPLSample/obj/Debug/net10.0/OEPLSample.AssemblyInfo.cs
OEPLSample/obj/Debug/net10.0/OEPLSample.AssemblyInfoInputs.cache
OEPLSample/obj/Debug/net10.0/OEPLSample.assets.cache
OEPLSample/obj/Debug/net10.0/OEPLSample.csproj.AssemblyReference.cache
OEPLSample/obj/Debug/net10.0/OEPLSample.csproj.CoreCompileInputs.cache
OEPLSample/obj/Debug/net10.0/OEPLSample.csproj.FileListAbsolute.txt
OEPLSample/obj/Debug/net10.0/OEPLSample.csproj.Up2Date
OEPLSample/obj/Debug/net10.0/OEPLSample.dll
OEPLSample/obj/Debug/net10.0/OEPLSample.GeneratedMSBuildEditorConfig.editorconfig
OEPLSample/obj/Debug/net10.0/OEPLSample.genruntimeconfig.cache
OEPLSample/obj/Debug/net10.0/OEPLSample.GlobalUsings.g.cs
OEPLSample/obj/Debug/net10.0/OEPLSample.pdb
OEPLSample/obj/Debug/net10.0/ref/OEPLSample.dll
OEPLSample/obj/Debug/net10.0/refint/OEPLSample.dll
